@model WebSite.ImagesGallery

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>Create</h2>

@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ImagesGallery</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ImageDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageDescription)
                @Html.ValidationMessageFor(model => model.ImageDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImagePath)
                @Html.ValidationMessageFor(model => model.ImagePath)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Visible, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Visible)
                @Html.ValidationMessageFor(model => model.Visible)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order)
                @Html.ValidationMessageFor(model => model.Order)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeStamp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeStamp)
                @Html.ValidationMessageFor(model => model.TimeStamp)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@
<div id="uploadPictureForm">
    @using (Html.BeginForm("Create", null, FormMethod.Post, new { encType = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div id="errorMassage"></div>
        <input name="Files" type="file" id="Files" style="cursor:pointer" multiple /><br />
        <input type="submit" style="cursor:pointer" name="submit" value="upload" />
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
